name: ci
on:
  push:
    branches: main

jobs:
  build:
    name: ""
    runs-on: ubuntu-latest
    steps:
      - name: ":hammer_and_wrench:"
        uses: actions/checkout@v2
      - name: check gh
        env:
          GITHUB_TOKEN: "${secrets.REMOTE_GITHUB_TOKEN}"
          GH_REPO: "tjololo/az-static-webapp"
        run: |
          gh auth login
          echo "Checkout $GH_REPO"
          gh repo clone $GH_REPO
          cd $(GH_REPO)
          git checkout preview
          git pull
          cp ../html/index.html .
          cp ../img/* ./img/
          git add .
          git commit -m "Update based on $(GITHUB_SHA)"
          git push origin preview
          gh pr create -t "Update based on $(GITHUB_SHA)" -b "Update based on $(GITHUB_SHA)" -b "main"

