name: ci
on:
  push:
    branches: main

jobs:
  build:
    name: ""
    runs-on: ubuntu-latest
    steps:
      - name: ":hammer_and_wrench:"
        uses: actions/checkout@v2
        with:
          path: source
      - name: check gh
        env:
          REMOTE_TOKEN: ${{ secrets.REMOTE_GITHUB_TOKEN }}
          GH_ORG: "tjololo"
          GH_REPO: "az-static-webapp"
        run: |
          cat $REMOTE_TOKEN > token.txt
          gh auth login --with-token < token.txt
          gh repo clone $GH_ORG/$GH_REPO
          cd $GH_REPO
          git checkout preview
          git pull
          cp ../source/html/index.html .
          cp ../source/img/* ./img/
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global user.name "$GITHUB_ACTOR"
          git add .
          git commit -m "Update based on $GITHUB_SHA"
          git push
          gh pr create -t "Update based on $GITHUB_SHA" -b "Update based on $GITHUB_SHA" -b "main"
          rm -f ../token.txt

